:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --white-text-color: #FFFFFF;
    --accent: #2196F3;
    --background-header: #FFFFFF;
    --background-hero: #2F303A;
    --background-main: #F5F5F5;
    --background-team: #F5F4FA;
    --background-footer: #2F303A;
    --logo: #000000;
}

.body {
    background-color: var(--background-header);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.hidden {

    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
}

button {

    cursor: pointer;
}

.page-header {
    border-bottom: 1px solid #ececec;
}

.container {

    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    

}

.main-nav {

    display: flex;
    align-items: center;
   


}


.page-header__logo {
    color: var(--logo);

    text-decoration: none;

    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
}

.logo--accent {

    color: var(--accent);

    text-decoration: none;

    font-family: Raleway, sans-serif;
}

.page-header__nav {
    display: flex;
    align-items: center;
}

/* Site nav */

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-nav {
    display: flex;
    margin-left: 93px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main-nav__list{
    display: flex;
    margin-left: auto;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    
}

.link-current {
    position: relative;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-current::after {

    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent);
    border-radius: 2px;
    bottom: -1px;
    right: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.link-selection {

    position: relative;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-selection::after {

    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent);
    border-radius: 2px;
    bottom: -1px;
    right: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover::after,
.link:focus::after {

    display: block;
    opacity: 1;


}

.main-nav__item {

    display: flex;
    align-items: center;
    justify-content: center;
    
}




.main-nav__contacts {
    
    margin-left: 318px;
    display: flex;
    align-items: center;
    justify-content:center;
    
}


.main-nav__list .main-nav__item-mail,
.main-nav__list .main-nav__item-phone {
    display: flex;
    padding-top: 32px;
    padding-bottom: 28px;
    align-items: center;
}

.site-nav__item:not(:last-child) {

    margin-right: 50px;

}

.main-nav__item:not(:last-child) {

    margin-right: 50px;

}

.main-nav__contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}





.site-nav .link {

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);

    text-decoration: none;


    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.site-nav .link:active,
.site-nav .link:focus,
.site-nav .link:hover {
    color: var(--accent);
    
}

.site-nav .link-current {
    color: var(--accent);
}


.main-nav__item-mail {
    color: var(--primary-text-color);

    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-nav__item-mail:hover,
.main-nav__item-mail:focus,
.main-nav__item-phone:hover,
.main-nav__item-phone:focus {
    color: var(--accent);

}


.main-nav__item-phone {
    color: var(--primary-text-color);

    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Main */
/* Section-main */

.hero {

margin-left: auto;
    margin-right: auto;


    color: var(--white-text-color);
    background-color: var(--background-hero);

    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2d2f39;

}

.hero__container {

    margin-left: auto;
    margin-right: auto;
    padding: 200px 10px;
    text-align: center;
   

    
}

.hero__title {


    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;


    padding-left: auto;
    padding-right: auto;


    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.hero__btn--primary {

    border-radius: 4px;
    padding: 10px 32px;
    display: inline-block;
    min-width: 152px;

    text-align: center;
    border: 1px solid transparent;
   

    color: var(--white-text-color);
    background-color: var(--accent);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.btn-primary:active {
    color: var(--accent);
}


/* Section-advantages, section-operations */


.advantages__wrap {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
            
}

.title {

    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}



.advantages__list {
    display: flex;

}


.advantages__list>li:not(:last-child) {

    margin-right: 30px;

}


.advantages__title {

    margin-top: 0px;
    margin-bottom: 10px;


    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages {
    padding-top: 94px;
    
}

.advantages__icon {

    width: 70px;
    height: 70px;
   
}


.advantages__text {
    margin: 0;

    margin-bottom: 0px;

    color: var(--primary-text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.advantages,
.operations {
    background-color: var(--background-header)
}


.operations,
.section-team,
.clients {
    padding-top: 94px;
    padding-bottom: 94px;

}


.operations__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.operations__image {

    display: block;
}

.operations__wrap {
   
    position: relative;
    overflow: hidden;
      
}

 .operations__wrap>.operations__title {
     
    position: absolute;
    top: 224px;
    left: 0;
    right: 0;

     
     margin: 0;
     padding: 27px 0;
     
     
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     text-align: center;
     color: var(--white-text-color);
     

    background: rgba(47, 48, 58, 0.8);

     
 }


.operations__list>li:not(:last-child) {
    margin-right: 30px;
}


/* Section-team */

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.team__item {
   
    border: 1px solid transparent;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



.section-team .team__item:not(:last-child) {
    margin-right: 30px;
}


.section-team {
    background-color: var(--background-team);


}

.portfolio-gap {
    display: block;
    border: 1px solid transparent;
   
}


.team__photo {

    display: block;
}

.team__wrap {
    display: block;
    margin: 0;
    padding: 30px 0;

    background-color: var(--background-header);
 
}

.link-social {
   
    display: flex;

    justify-content: center;
    
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
    background-color: #2196f3;
    fill: #ffffff;
    
}



.team__list {

    display: flex;
    justify-content: center;
   

}

.team__link {

    display: flex;
    gap: 10px;
    
}

.team__position {

    margin: 0;
    margin-bottom: 16px;

    color: var(--primary-text-color);


    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

.team__name {

    margin: 0;
    
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

/*Clients*/

.clients__list {

    display: flex;

    justify-content: center;

    
}


.clients .clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__link {

    display: flex;

    justify-content: center;
    align-items: center;

    color: #afb1b8;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    width: 170px;
    height: 92px;

    fill: currentColor;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.clients__link:hover,
.clients__link:focus {
    color: var(--accent);
    border: 1px solid var(--accent);

}


/* Div-footer */


.footer__address-link:hover,
.footer__address-link:focus {
    color: var(--accent);
    
}

.footer__address-link {

    color: var(--white-text-color);

    text-decoration: none;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer__contacts {

    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts:hover,
.footer__contacts:focus {
    color: var(--accent);

}

.footer__logo {

    display: inline-block;

    margin-bottom: 20px;

    color: var(--white-text-color);

    text-decoration: none;

    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer {
    background-color: var(--background-footer);

}


.join-title {

    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: var(--white-text-color);

    text-transform: uppercase;



}


.social-item:not(:last-child) {

    margin-right: 10px;

}

.social-link {


    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
    background-color: #2196f3;
    
}

.footer__box {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 70px;  
    
}

.footer-follow {
    
    display: block;
    width: 206px;
}

.footer-subscribe {
    margin-left: 93px;
}



.footer-icons {

    display: flex;
    margin-left: 0;
    margin-right: 70px;
}



.follow-icon {

    fill: #FFFFFF;
}



.footer__container {

    display: flex;
    align-items: baseline;
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    justify-content: space-between;
}

.footer__container .footer__item:not(:last-child) {
    margin-bottom: 9px;
}


.form-subscribe {

    display: flex;
}

.button-subscribe {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 10px;
    padding-bottom: 10px;
    
    width: 200px;
    height: 50px;
    
    text-align: center;
    border: 1px solid transparent;
    
    
    color: var(--white-text-color);
    background-color: var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

}

.button-subscribe:active {
    color: var(--accent);
}

.input-subscribe {

    margin-right: 12px;
    outline: none;
    min-width: 358px;
    padding: 15px 16px 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-subscribe:focus {
    border: 1px solid #2196f3;
}

.icon-send {
    margin-left: 10px;
}

/* Portfolio */
/* Main */



.section-portfolio {

    padding-top: 94px;
    padding-bottom: 94px;

    }

.button {

    display: flex;

    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
   
   

}

.potrfolio-image {

    position: relative;
    overflow: hidden;
}


.overlay {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--accent);
    opacity: 90%;
}

.overlay-text {

    padding: 63px 24px;

    color: var(--white-text-color);
    
        font-size: 18px;
        line-height: 1.55;
    
        letter-spacing: 0.03em;
    
}

.portfolio .item:hover .overlay {
    transform: translateX(0);
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.selection {

margin-right: 8px;
    
}


.filtr.current {

    padding: 6px 25px;
    
    color: var(--white-text-color);
    background-color: var(--accent);


    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.filtr {

    padding: 6px 22px;

    border-radius: 4px;
    border: transparent;
    background-color: var(--background-team);


    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.filtr:hover,
.filtr:focus {
    color: var(--white-text-color);
    background-color: var(--accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.portfolio .text {
    color: var(--primary-text-color);


    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.portfolio .item:hover {

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}

.examples {

    margin: 0;
    margin-bottom: 4px;
    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}



.content {

   box-sizing: border-box;

    padding: 20px 24px;
   
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-top: 0;
   

}


.container-cards {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}


.portfolio .item {
    margin-right: 30px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio .item:nth-child(3n) {
    margin-right: 0px;
}

.portfolio .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.portfolio .item {
    margin-bottom: 30px;

}

/* Backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

/* Modal */

.modal {

    position: absolute;
    padding: 40px;
    

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 528px;
    background-color: var(--background-header);
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {

    position: absolute;
    
    right: 8px;
    top: 8px;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--background-header);
    border-radius: 50%;
    width: 30px;
    height: 30px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.btn-close:hover,
.btn-close:focus {
    fill: var(--accent);

}


/* Application form */


.form-title {
    
    text-align: center;
    margin: 0px 0px 12px 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}


.label-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comment-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.label-text {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color)
}

.input-form {
    padding: 12px 12px 12px 42px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
    border: 1px solid var(--accent);
}

.input-form:focus + .label-icon {
    fill: var(--accent);
}

.label-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-comment {

    outline: none;
    resize: none;
    height: 120px;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.label-comment:focus {
    border: 1px solid #2196f3;
}

.privacy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.privacy-wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 14px;
    border: 1px solid;
    border-radius: 2px;
}

.input-checkbox:checked + .privacy-wrapp {
    border-color:  transparent;
}

.label-icon-check {
    opacity: 0;
    
    
}

.input-checkbox:checked + .privacy-wrapp .label-icon-check {
    opacity: 1;
    
}


.checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
    margin-left: 7px;
}


.checkbox-link {
    color: var(--accent)
}

.submit-button {

    display: flex;
    margin-left: auto;
    margin-right: auto;

    border-radius: 4px;
    padding: 10px 52px;

    min-width: 200px;

    text-align: center;
    border: 1px solid transparent;

    color: var(--white-text-color);
    background-color: var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
   
}

.submit-button:active {
    color: var(--accent);
}

